
.form-group {
    width: 500px;
    direction: rtl;
}



.meeting-title{
    margin-bottom: 30px;
}
.main form {
    position: absolute;
    left: 500px;
}

.meeting-form{
   width: 500px;
   float: right;
}

button {
    position: relative;
    left: 500px;
}

.check-meeting-lbl{
    position: relative;
    right: 0px;
}

.form-check-input{
position: absolute;
right: 275px;
}


.main-background {
    background-color: #EAEADF;
    padding-bottom: 110px;
    padding-top: 10px;
    padding-right: 85px;
    height: 620px; 
    width: 1536px;
}

.setup-meeting-btn{
    width: 125px;
}

.fLabels {
    text-align: right;
    width: 500px;
}