.meeting-table{
    position: relative;
    float: left;
    left: 60px;
    top: 20px;
    text-align: center;
    font-size: 23.5px;
    border:5px solid #776078;
    border-radius: 10px; 
}

.loader-past-meeting{
    float: left;
     position: relative;
    left:200px; 
}

.table-title{
    font-size: 30px;
}

.delete-meeting{
    position: relative;
    right: 3px;
}

.meetings-loader{
    position: relative;
    top: 200px;
    left: 350px;
}

.table-responsive{
    max-height: 565px;
}

.load-past-meetings{
    position: relative;
    right: 0px;
    width: 230px;
}

.table-responsive::-webkit-scrollbar{
    width: 8px;
}

.table-responsive::-webkit-scrollbar-thumb{
    background:teal;
    border-radius: 10px;
}

.table-responsive::-webkit-scrollbar-track{
    box-shadow: inset 0 0 7px gray;
    border-radius: 20px;
}

.table-responsive::-webkit-scrollbar-thumb:hover{
    background: rgb(2, 160, 160)
}
