
.change-pwd-form {
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    display: inline-block;
    height: 100%;
    width: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    z-index: 10000;
    left: 0px;
}

.change-pwd-form .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.change-pwd-lbl,.change-pwd-p{
margin-right: 20px;
}

.change-pwd-form>div {
    background-color: #fff;
    box-shadow: 5px 5px 30px #555;
    display: inline-block;
    height: auto;
    max-width: 600px;
    min-height: 200px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 20px 5%;
}

.close-btn {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 24px;
    width: 30px;
    height: 30px;
    margin: 10px;
    text-align: center;
}

.close-btn:hover {
    background-color: #ccc;
}

.send-reset-email{
    position: relative;
    top:40px;
    right: 20px;
    top: 10px;
}

