.add-user-form {
    width: 1000px;
    height: 590px;
    margin-right: 350px;
    margin-left: 5px;
    margin-top: 0;   
}

.add-user-h {
    position: relative;
    margin: 10px;
    padding: 10px;
    top: 0px;
}

.add-new-user-btn{
    position: relative;
    left: 415px;
    top:5px;
}

.title {
    text-align: right;
}

.form-group {
    padding: 4px;
    direction: rtl;
    text-align: right;
}



#inputAddress2{
    width: 997px;
} 
