.del-user-form{
    margin-top: 20px;
    width: 500px;
    margin-right: 685px;
}

.form-group 
{
margin-right: 0px;
width: 500px;
}

.delete-title{
    text-align: center;
    margin-left: 100px;
}
.del-lab{
    margin-right: 15px;
    margin-top: 5px;
    width: 100px;
}

button.del-btn{
    margin-right: 620px;
    width: 120px;
}

#inputState{
    margin-right: 13px;
}
