.sidenav {
    width: 130px;
    position: relative;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 6px 0;
    float: right;
}

.MainLogoAdmin {
    float: right;
    margin: 8px;
}

.log-out-admin{
    position: relative;
    left: 100px;
    top:30px;
}

.nav-item{
    margin-top: 7px;
}

.admin-navbar{
    position: relative;
    right: 0px;
    width: 223px;
}

.admin-title{
position: relative;
color: white;
float: right;
right:90px;
top: 27px;
}

.sidenav ul {
    padding: 10px;
    top: 1px;
}

.sidenav li {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
    text-align: right;
    direction: rtl;
}

.sidenav li:hover {
    color: #064579;
}

.nav{
    width: auto;
}